<!DOCTYPE html>
<html>
<head>
    <title>Atividade Jinja2</title>
</head>
<body>

    <!-- 1 -->
    <h2>1 - Saudação</h2>
    <p>Olá, {{ nome }}</p>

    <!-- 2 -->
    <h2>2 - Nome e idade</h2>
    <p>Nome: {{ nome }}</p>
    <p>Idade: {{ idade }}</p>

    <!-- 3 -->
    <h2>3 - Dados do usuário</h2>
    <p>Nome: {{ usuario.nome }}</p>
    <p>Email: {{ usuario.email }}</p>

    <!-- 4 -->
    <h2>4 - Lista de alunos</h2>

    {% for aluno in alunos %}
        <p>{{ loop.index }} - {{ aluno }}</p>
    {% endfor %}

    <!-- 5 -->
    <h2>5 - Resultado</h2>

    {% if nota >= 7 %}
        <p>Aprovado</p>
    {% else %}
        <p>Reprovado</p>
    {% endif %}

</body>
</html>